.section-a {
    padding-top: 50px;
}

.section-b {
    padding-top: 50px;

}

.sidebar-a, .sidebar-b {
    position: fixed;
    background-color: #ecf0f1;
    border-right: 1px solid #ddd;
    width: 200px;
    height: 100%;
    overflow: scroll;
}

ul.sidebar {
    list-style: none;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar .title {
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
}

.sidebar .divider {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid @gray-border;
}

.toolbar-a, .toolbar-b {
    position: fixed;
    z-index: 1000;
    padding-top: 30px;
    background-color: #ecf0f1;
    height: 100px;
    border-bottom: 1px solid #ddd;
}

.toolbar-a {
    width: calc(100% - 200px);
}

.toolbar-b {
    width: 100%;
}

.toolbar-a h1,
.toolbar-b h1 {
    margin: 0px;
}

.content-a {
    padding-top: 100px;
}

.content-b {
    margin-left: 200px;
    width: calc(100% - 200px);
}

.page-a {
    margin-left: 200px;
    width: calc(100% - 200px)
}

.page-b {
    padding-top: 100px;
}

.inline-toolbar {
    background-color: #ecf0f1;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.inline-toolbar .breadcrumb {
    margin: 0px;
    background-color: inherit;
    border: 0px;
    line-height: 25px;
    height: 40px;
}

.footer {
    background-color: #ecf0f1;
    border-top: 1px solid #ddd;
    padding: 10px 20px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.left {
    position: fixed;
    border-right: 1px solid #ddd;
    overflow: scroll;
    width: 17.5%;
    height: calc(100% - 150px);
}

.middle {
    position: fixed;
    left:17.5%;
    border-right: 1px solid #ddd;
    overflow: scroll;
    width: calc(100% - 17.5% - 17.5%);
    height: calc(100% - 150px);
}

.right {
    position: fixed;
    right:0px;
    border-right: 1px solid #ddd;
    overflow: scroll;
    width: 17.5%;
    height: calc(100% - 150px);
}

.left .list-group-item{
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
    /*border-bottom: 1px solid #ddd;*/
}

.left .list-group-item:first-child {
    border-top: 0px;
    }

.scrollbox {
    height: 200px;
    overflow-y: scroll;
}

.formlike {
    border-radius: 3px;
    border-width: 2px;
}

.panel-formlike {
    border-color: #dce4ec;
}

