<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script type="text/x-handlebars" id="application">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

      <div class="navbar-header">
        {{#link-to 'index' class="navbar-brand"}}UI{{/link-to}}
      </div>

      <div class="container-fluid">
        <ul class="nav navbar-nav">
          {{#link-to "graphs" tagName="li" href=false}}
            <a {{bind-attr href="view.href"}}>Graphs</a>
          {{/link-to}}
          {{#link-to "configuration" tagName="li" href=false}}
            <a {{bind-attr href="view.href"}}>Configuration</a>
          {{/link-to}}
        </ul>
      </div>
    </nav>

    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="graphs">

    <div class="section-b">

      <div class="toolbar-b">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <h1>Graphs <small>control all the things</small></h1>
            </div>
          </div>
        </div>
      </div>

      <div class="page-b">

        <div class="sidebar-b">
          <ul class="sidebar">
            <li class="title">ACTIONS</li>
            <li>{{#link-to 'graphs.create' type="button" class="btn btn-success btn-block btn-sm"}}Create{{/link-to}}</li>
          </ul>
        </div>

        {{outlet}}

      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="graphs/create">
    <div class="modal show">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Create a graph<span class="pull-right">{{guid}}</span></h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="inputName">Name</label>
                  {{input type="text" value=name classNames="form-control" id="name" placeholder="Enter a name..."}}
              </div>
            </form>

            <hr />

            <label for="inputName">Responses</label>
            <div class="panel panel-formlike formlike">
              <div class="scrollbox">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Message</th>
                      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each message in messages}}
                      <tr>
                        <td>
                          {{message.message}}
                        </td>
                        <td>
                          {{message.level}}
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" {{action 'dismiss'}}>Dismiss</button>
            {{#if showButtonEnabled}}
              <button class="btn btn-default" {{action 'submit'}}>Send</button>
            {{else}}
              <button class="btn btn-default" disabled="disabled">Send</button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="configuration">
    <div class="section-b">

      <div class="toolbar-b">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <h1>Configuration <small>control all the things</small></h1>
            </div>
            <div class="col-md-4">
              <span class="pull-right">
                {{#link-to 'settings.create' type="button" class="btn btn-success"}}Create Setting{{/link-to}}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="page-b">

        <div class="sidebar-b">
          <ul class="sidebar">
            <li class="title">CONFIGURABLES</li>
            <li>{{#link-to 'settings' type="button" class="btn btn-success btn-block btn-sm"}}Settings{{/link-to}}</li>
          </ul>
        </div>

        {{outlet}}

      </div>
    </div>
  </script>


  <script type="text/x-handlebars" id="settings/_form">
    <form>
      <div {{bind-attr class=":form-group errors.name:has-error"}}>
        <label for="inputName">Name</label>
        {{input type="text" value=name class="form-control" id="inputName" placeholder="Enter name"}}
        {{#each errors.name }}
          <span class="help-block">{{message}}</span>
        {{/each}}
      </div>
      <div {{bind-attr class=":form-group errors.value:has-error"}}>
        <label for="inputValue">Value</label>
        {{input type="text" value=value class="form-control" id="inputValue" placeholder="Enter value"}}
        {{#each errors.value }}
          <span class="help-block">{{message}}</span>
        {{/each}}
      </div>
    </form>
  </script>

  <script type="text/x-handlebars" id="settings/edit">
    <div class="modal show">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit setting</h4>
          </div>
          <div class="modal-body">
            {{partial "settings/_form"}}
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
            <button class="btn btn-default" {{action 'submit'}}>Save</button>
            <button class="btn btn-default" {{action 'remove'}}>Delete</button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="settings/create">
    <div class="modal show">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Create setting</h4>
          </div>
          <div class="modal-body">
            {{partial "settings/_form"}}
          </div>
          <div class="modal-footer">
            <button {{action 'cancel'}} class="btn btn-default">Cancel</button>
            <button {{action 'submit'}} class="btn btn-default">Save</button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="settings">

      <div class="content-b">

        <div class="inline-toolbar">
          <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>{{#link-to 'configuration'}}Configuration{{/link-to}}</li>
            <li class="active">Settings</li>
          </ol>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>IsDirty</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each item in model}}
                    <tr>
                      <td>
                        {{item.id}}
                      </td>
                      <td>
                        {{item.name}}
                      </td>
                      <td>
                        {{item.value}}
                      </td>
                      <td>
                        {{item.isDirty}}
                      </td>
                      <td>
                        {{#link-to 'setting' item}}View{{/link-to}}
                        {{#link-to 'settings.edit' item}}Edit{{/link-to}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              {{outlet}}
            </div>
          </div>
        </div>

      </div>

  </script>


  <script type="text/x-handlebars" id="setting">
    <div class="content-b">

      <div class="inline-toolbar">
        <ol class="breadcrumb">
          <li>{{#link-to 'index'}}Home{{/link-to}}</li>
          <li>{{#link-to 'configuration'}}Configuration{{/link-to}}</li>
          <li>{{#link-to 'settings'}}Settings{{/link-to}}</li>
          <li class="active">{{model.name}}</li>
        </ol>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2>{{model.name}} = {{model.value}}</h2>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/bootstrap.js"></script>
  <script src="js/libs/socket.io.js"></script>
  <script src="js/libs/qpid.socket.io.js"></script>
  <script src="js/libs/ember-template-compiler-1.10.0.js"></script>
  <script src="js/libs/ember-1.10.0.debug.js"></script>
  <script src="js/libs/ember-data-1.0.0-beta.14.1.js"></script>
  <script src="js/app.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
</body>
</html>
