<!DOCTYPE html>
<html>
  <head>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.css" rel="stylesheet">

    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/handlebars.js"></script>
    <script type="text/javascript" src="static/js/socket.io.js"></script>
    <script type="text/javascript" src="static/js/qpid.socket.io.js"></script>

    <script id="entry-template" type="text/x-handlebars-template">
      <div class="panel panel-default">
        <div class="panel-heading">{{subject}}</div>
        <div class="panel-body">
          <pre>{{data}}</pre>
        </div>
      </div>
    </script>


    <script>
$(function() {

WEB_SOCKET_SWF_LOCATION = "/static/WebSocketMain.swf";
WEB_SOCKET_DEBUG = true;

// Socket.io specific code
var socket = io.connect('/amq.topic');
socket.$emit = qpid.emit;

// Update the graph when we get new data from the server
socket.on('#', function(data, subject) {
    var source   = $("#entry-template").html();
    var template = Handlebars.compile(source);
    templateData = data
    try {
      templateData = JSON.stringify(JSON.parse(data),null,2);
    } catch (e) {
      console.log('Non JSON data.', e);
    }
    console.log(templateData);
    var context = {subject: subject, data: templateData};
    var html    = template(context);
    $('.messages').prepend(html);
});

});
  </script>
  </head>
<body>
    <div class="container messages">

      <div class="row"><div class="col-md-12"></div></div>

    </div>
</body>
</html>
